.App {
  text-align: center;
}

.Title{
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
}

.Margin{
  margin-top: 10px;
}

.EndBreak{
  padding-top: 20px;
}

.DataStyle {
  border: 1px #d9d9d9;
  border-style: groove;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
  background-color: #444444;
  font-size: 12;
  width: 100px;
  height: 40px;
}

.TableStyle{
  text-align: left;
  border-collapse: separate;
  border-spacing: 10px;
  background-color: #ffffff;
}

.TextStyle {
  margin-left: 4px;
}

.DataStyleDiv {
  border: 1px #d9d9d9;
  border-style: groove;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
  background-color: #444444;
  font-size: 12;
  width: 110px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  padding-left: 7px;
  margin-left: 10px;
}

.TableStyleDiv {
  text-align: left;
  border-collapse: separate;
  border-spacing: 10px;
}

.DataStyleDiv2 {
  line-height: 25px;
  text-align: left;
  border: 1px #d9d9d9;
  border-style: groove;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
  background-color: #0b2c12;
  font-size: 12;
  float: left;
  height: 30px;
  width: 99px;
  padding: 9px;
  margin-left: 10px;
}

.TableStyleDiv2{
  border-collapse: separate;
  border-spacing: 10px;
}

.EndBreakTable{
  clear: left;
  padding-top: 10px;
}
